.alert-box {
    display: none; /* مخفی بودن alert box به‌طور پیش‌فرض */
    background-color: #1e3a8a;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 0.3s ease-in-out;
}

/* بقیه استایل‌ها همانند قبل */




.alert-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.alert-header h2 {
    color: #3b82f6;
    margin-bottom: 10px;
}

.close-btn {
    background: none;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    transition: color 0.3s;
}

.close-btn:hover {
    color: #9333ea;
}

.alert-body {
    margin: 10px 0;
}

.alert-body p {
    color: #d1d5db;
    font-size: 1em;
    line-height: 1.5;
}

.alert-footer {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.confirm-btn, .cancel-btn {
    background-color: #3b82f6;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.confirm-btn:hover, .cancel-btn:hover {
    background-color: #9333ea;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate(-50%, -60%);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%);
    }
}
